<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
    <table>
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Phone</td>
            <td>Birthdate</td>
            <td>Gender</td>
            <td>Address</td>
            <td>Diabetes Score</td>
            <td>Notes</td>
        </tr>
        <tr th:each="p : ${patients}">
            <td th:text="${p.firstName}"></td>
            <td th:text="${p.lastName}"></td>
            <td th:text="${p.phone}"></td>
            <td th:text="${p.birthdate}"></td>
            <td th:text="${p.gender}"></td>
            <td th:text="${p.address}"></td>
            <td th:text="${p.riskLevel.displayValue}"></td>
            <td><a th:href="@{/patient-notes/{id}(id=${p.id})}">></a></td>
        </tr>
    </table>
    <a href="add-patient">Add a patient</a>
</body>
</html>